/* Links */
a,
a:focus,
a:hover {
    color: #fff;
}

/*
 * Base structure
 */

html,
body {
    height: 100%;
    background-color: #333;
}

body {
    
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
    display: table;
    width: 100%;
    height: 100%; /* For at least Firefox */
    min-height: 100%;
    -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
    box-shadow: inset 0 0 100px rgba(0,0,0,.5);

    color: #fff;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

.cover-container {
    margin-right: auto;
    margin-left: auto;
}

/* Padding for spacing */
.inner {
    padding: 30px;
}

/*
 * Cover
 */

.cover {
    padding: 0 20px;
}

/*
 * Footer
 */

.mastfoot {
    /*position: fixed;
    bottom: 0;*/
    color: #999; /* IE8 proofing */
    color: rgba(255,255,255,.5);
}

/* Handle the widths */
.masthead,
.mastfoot,
.cover-container {
    width: 800px; /* Must be percentage or pixels for horizontal alignment */
}

/*
@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}
*/

.side1, .side2 {
    font-size: 150%;
}

.side2 {
    border-left: dashed 5px #FF9900;
}

.score {
    font-size: 1500%;
}

.serving {
    color: #0073CF;
}

.game-info-table {
    font-size: 125%;
    margin: 20px 0;
}

.game-info-table thead {
    background-color: rgba(132, 134, 136, .5);
}

.game-info-table .time-column {
    width: 33%;
}

.game-info-table td,
.game-info-table th {
    text-align: center;
}

.game-info-table .side-one-column {
    width: 33%;
}

.game-info-table th:first-child,
.game-info-table td:first-child {
    text-align: right;
}

.game-info-table .side-two-column {
    width: 33%;
}

.game-info-table th:last-child,
.game-info-table td:last-child {
    text-align: left;
}

#win-modal {
    text-align: center;
}